@font-face {
  font-family: "Curse of the Zombie";
  /*src: local("Curse of the Zombie"),*/
  src: url("fonts/curseofthezombie.ttf") format("truetype");
}

.zombie {
  font-family: "Curse of the Zombie", sans-serif;
}

/*h1{
  font-family: "Curse of the Zombie";
}*/


.m-plus-rounded-1c-regular {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 400;
  font-style: normal;
}
